@tailwind base;
@tailwind components;
@tailwind utilities;

/* Añadir breakpoints personalizados */
@media (max-width: 640px) {
    .juego {
        width: 100%;
    }

    .celda {
        height: 80px;
        width: 80px;
        font-size: 1.5em;
    }
}

@media (min-width: 641px) {
    .juego {
        width: 30%;
    }
}

/* Mantener las animaciones */
#confetti {
    display: none;
    background: url('https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExbTl1bnEwbWw3YWhxMnNubTRocDRrdnI4MnUycXEyMHduZXUwNWo4NiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/xT77XYfBvO9i2or9Li/giphy.webp') center/cover no-repeat;
}

#beso {
    display: none;
    width: 80px; /* Ajustar tamaño */
    height: 80px; /* Ajustar tamaño */
    background: url('https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExcXZidmV6N2pzbGRzbzFtYnZ0c2p6ZHFjeWd1dWxjM2w0dzI1MzJ0dyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/xT9DPLt3xSOCDP33tS/giphy.webp') center/cover no-repeat;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    animation: besoAnimacion 1s ease-in-out forwards;
}

button.animate {
    animation: animacionJuego2 0.5s ease-in-out;
}

.celda {
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 2em;
}

.celda.x::after {
    content: "X";
}

.celda.o::after {
    content: "O";
}
